/* App Style */
*, *:before, *:after {
 -moz-box-sizing: border-box; 
 -webkit-box-sizing: border-box; 
 box-sizing: border-box;
}


#room-list {
  display: block;
  background: rgb(150,150,150);
  width: 300px;
  text-align: center;
  font-size: 18px;
  line-height: 1.8em;
  height: 100vh;
  padding: 30px;
  position: absolute;
  left: 0;
  top: 0;
}

#room-list h1 {
  font-size: 42px;
}

#room-list h4 {
  font-size: 18px;
  color: rgb(70,70,70);
  cursor: pointer;
}

#room-list h4:hover {
  color: rgb(0,0,0);
}

#room-list h4.active {
  color: white;
}

#newRoomInput {
  border: none;
  font-size: 18px;
  width: 210px;
  text-align: center;
  display: inline-block;
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}

#newRoomInput:focus {
  outline: none;
  box-shadow: 0 0 2px rgb(100,100,255);
}

#newRoomSubmit {
  /*background: rgb(80,80,114);*/
  background: rgb(70,70,70);
  border: none;
  font-size: 24px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  color: white;
  padding-left: 7px;
  padding-right: 9px;
  vertical-align: middle;
}

#messageList {
  width: calc(100vw - 300px);
  display: block;
  position: absolute;
  left: 300px;
  top: 0;
  font-size: 14px;
}

#messageList h2 {
  font-size: 30px;
}

.message {
  text-align: left;
  padding: 15px 20px;
}

.message:nth-of-type(odd) {
  background: rgb(235,235,235);
}

.msgUsername, .msgContent, .msgTime {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.msgUsername {
  text-align: left;
  font-weight: bold;
  width: calc(100% - 100px);
}

.msgContent {
  text-align: left;
  line-height: 1.4em;
  width: 100%;  
}

.msgTime {
  font-style: italic;
  text-align: right;
  color: rgb(100,100,100);
  width: 100px;
}