/* App Style */
*, *:before, *:after {
 -moz-box-sizing: border-box; 
 -webkit-box-sizing: border-box; 
 box-sizing: border-box;
}


#room-list {
  background: rgb(180,180,180);
  width: 300px;
  text-align: center;
  font-size: 18px;
  line-height: 1.8em;
  height: 100vh;
  padding: 30px;
}

#room-list h1 {
  font-size: 36px;
}
